# Dependencies
node_modules/

# Binary
/spine

# SQLite & Turso
*.db
*.db-wal
*.db-shm
*.turso
*.turso-wal
*.turso-shm
Untitled design.png

# OS
.DS_Store
Thumbs.db

# IDE & Temp
.idea/
.vscode/
*.swp
*.swo
*.resolved
bin/
web/dist/
