# Dependencies
node_modules/

# Binary
/spine

# SQLite & Turso
*.db
*.db-wal
*.db-shm
*.turso
*.turso-wal
*.turso-shm
Untitled design.png

# Python
__pycache__/
*.egg-info/
*.pyc

# Expo / mobile
.expo/

# OS
.DS_Store
Thumbs.db

# IDE & Temp
.idea/
.vscode/
*.swp
*.swo
*.resolved
bin/
web/dist/
tests.test
.gocache/
